extends layout 
block content
  .inner
    form.form(method="POST")
      h2 Reset Password
      lable(for="password") Enter the new password
      input(type="password", name="password")
      lable(for="password-confirm") Confirm the password 
      input(type="password-confirm", name="password-confirm")
      input.button(type="submit", value="Reset")