//- extend the basic layout for the nav and the rest of the page
extends layout

//- import the mixin for the storeCard
include /mixins/_storeCard

block content
  .inner
    h2 
      title 
    .stores 
      each store in stores 
        +storeCard(store)
    
