mixin forgotPassword()
  form.form(action="/account/forgot", method="POST")
    h2 Forgot my password!
    label(for="email") Email 
    input(type="email", name="email", placeholder="Enter Your Email, e.g. example@example.com")
    input.button(type="submit", value="Forgot Password")